Brotli
brotlipy
certifi
chardet 
click
colorama
cryptography
dash
dash-core-components
dash-html-components
dash-table
dataclasses 
dnspython
docker
Flask 
Flask-Compress
Flask-Cors 
idna 
importlib-metadata
itsdangerous 
Jinja2 
MarkupSafe 
mkl-fft
mkl-random
mkl-service
numpy 
pandas 
plotly
pycparser 
pymongo
pyOpenSSL 
PySocks 
python-dateutil 
pytz
requests 
six 
tenacity
typing_extensions
urllib3 
websocket-client
Werkzeug 
win-inet-pton 
wincertstore
zipp
configparser
