<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Department</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon.ico" />
	<link rel="stylesheet" href="/static/user_profile/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="/static/user_profile/css/user_bootstrap.min.css" rel="stylesheet">
    <link href="/static/user_profile/css/templatemo-xtra-blog.css" rel="stylesheet">
<!--
    
TemplateMo 553 Xtra Blog

https://templatemo.com/tm-553-xtra-blog

-->
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
                
            </button>
            <button onclick="window.open('/logout')" style=" background-color: #ff0000b4;
							border : None;

                            border-radius: 100px;
                            color: white;
                            padding: 7px 15px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            font-size: 16px;
                            margin: 0px 0px;
                            cursor: pointer;">
                            Log Out
				</button>

                <button onclick="window.open('/')" style=" background-color: #ff66008e;
                        border : None;

                        border-radius: 100px;
                        color: white;
                        padding: px 15px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        margin: 0px 0px;
                        cursor: pointer;">
                        Home Page
                </button> 
                <button onclick="window.open('/user/profile')" style=" background-color: #ff6600d2;
                        border : None;

                        border-radius: 100px;
                        color: white;
                        
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        margin: 0px 0px;
                        cursor: pointer;">
                        Profile
                </button>
            <div class="tm-site-header">
                
                <div class="mb-3 mx-auto tm-site-logo">
                <img src = "/static/login_Data/images/sk_logo_new.jpg" alt = "logo" class = 'tm-site-logo'>
            </div>            
                <h1 class="text-center" style = "font-family: garamond; font-size:30px;">Hello</h1>
                <h1> 
                    {{username}}
                </h1>
                <div class = 'text' style ="text-align: center;font-family: 'Courier New', Courier, monospace;">
                    <p>
                        Department: {{department}}
                        <br> Your Pr : {{pr}} </br>
                    </p>
                    </p>

                </div>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item "><a href="/login/user_login/art_photography/home" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Your Home
                    </a></li>
                    <li class="tm-nav-item active"><a href= "#" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Your Department
                    </a></li>
                    <li class="tm-nav-item "><a href="/login/user_login/art_photography/art&photo_hod" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        Your mentors
                    </a></li>
                    <li class="tm-nav-item"><a href="/login/user_login/art_photography/admins_details" class="tm-nav-link">
                        <i class="fas fa-user-shield"></i>
                        Admins
                    </a></li>
                </ul>
            </nav>
            <div class="tm-mb-65">
                <div class="tm-mb-65">
                    <a href="https://facebook.com/shohurekotha20" class="tm-social-link">
                        <i class="fab fa-facebook tm-social-icon"></i>
                    </a>
                    <a href="https://wa.me/message/QLKW3VMPCFBCP1" class="tm-social-link">
                        <i class ="fab fa-whatsapp tm-social-icon"></i>
                    </a>
                    <a href="https://instagram.com/shohurekotha20/" class="tm-social-link">
                        <i class="fab fa-instagram tm-social-icon"></i>
                    </a>
                </div>
            <p class="tm-mb-80 pr-5 text-white">
                <h3 class = "message" style = "color: rgb(255, 157, 0); font-size: 30px; font-weight: bold;">
                    Welcome note! 
                </h3>
                Hey, Thanks for being a member of the SHOHOR. We always welcome fresh talents like you. 
                We always appreciate your efforts and contributions for the Shohor community. We hope you will 
                be an amazing part of the Shohor community. Hope you are comfortable here. We always want to listen 
                to everyone. Your ideas and suggestions we pay attention to. We will always be there to help you. 
            </p>
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
                    
                        <!-- Search form -->
                        <div class="row tm-row">
                            <div class="col-12">
                                <div class="heading" style = " text-align: center; color : #ffff; padding: 20px;
                                
                                display: block;
                                height: 130px;
                                font-size: 16px;
                                text-align: inline;
                                background-color: rgba(141, 89, 5, 0.507);
                                width: 100;
                                margin-right: 30px;
                                border-radius: 20px;
                                border-color: rgb(0, 0, 0);
                                filter:  drop-shadow(0px 0px 5px rgb(0, 0, 0));
                                font-size: 1rem;">
                                <h1 class = "text" style = "font-size: 1.6rem;">
                                    ART & PHOTOGRAPHY DEPARTMENT 
                                    <h5 class = "department" style = "font-family: 'Courier New', Courier, monospace;"> 
                                    OF SHOHOR </h5>
                                </h1>
            
                                                    
                
                        </div>              
            <h1 style = "color: #ffffff; font-weight: bold; font-size: 30 px; padding-bottom: 10px;">Posts</h1> 
            <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-20 ">
                    <!-- Video player 1422x800 -->
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fshohurekotha20%2Fposts%2F421331959702116&show_text=true&width=500" 
                        width="300" height="370" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>  
                 
                
            </div>
            <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-20 ">
                    <!-- Video player 1422x800 -->
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fshohurekotha20%2Fposts%2F427637812404864&show_text=false&width=500" 
                        width="300" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            
         
            <div class="row tm-row" >
                <div class="col-lg-8 tm-post-col">
                    <div class="tm-post-full" style = "padding: 10px; align-items: center;">                    
                        <div class="mb-4">
                            <h2 class="pt-2 tm-color-primary tm-post-title">Art and Photography Department Of Shohure Kotha</h2>
                            <p class="tm-mb-40"> Dec 1, 2021 posted by Shohure Kotha</p>
                            <p>
                                This is a description of the Writing department of Shohure Kotha. You can check our other posts 
                                <a rel="nofollow" href="https://www.facebook.com/shohurekotha20/" target="_blank">clicking here.</a> 
                                Having so many talented artists and photographers, like you, we always have the potential to
                            entertain our audiences with rich quality contents of photography and art. </p>
                           
                            <span class="d-block text-right tm-color-primary">Art and Photograpahy Department, Shohure kotha</span>
                        </div>
                        
                        <!-- Comments -->
                        <div>
                            <h2 class="tm-color-primary tm-post-title">Groups of Artists</h2>
                            <hr class="tm-hr-primary tm-mb-45">
                            <div class="tm-comment tm-mb-45">
                                <figure class="tm-comment-figure" style = "height: fit-content; width: 100%;">
                                    <img src="/static/user_profile/img/groups/art.jpg" alt="Image" class="mb-2 rounded-circle img-thumbnail">
                                    <figcaption class="tm-color-primary text-center">Art-O-Holic</figcaption>
                                </figure>
                                <div>
                                    <p>
                                        Art-O-Holic is for the artists who are passionate about art. We have a lot of artists
                                        who are passionate about art. That is why the group is called Art-O-Holic.
                                        <u style = "color:rgb(255, 157, 0)">Srijit Bhattacharyya</u> And <u style = "color: #ffbb00">Tanusri Majumder</u>
                                        are the mentors of the group. Whenever any new artist joins the shohor family, he/she gets
                                        added to  the group. If anyone needs any kind of guidance, they can contact them.
                                    </p>

                                    
                                                                                   
                                </div>  
                                                              
                            </div>
                            <h2 class="tm-color-primary tm-post-title">Groups of Photographers</h2>
                            <hr class="tm-hr-primary tm-mb-45">
                            <div class="tm-comment tm-mb-45">
                                <figure class="tm-comment-figure" style = "height: fit-content; width: 100%;">
                                    <img src="/static/user_profile/img/groups/photography.jpg" alt="Image" class="mb-2 rounded-circle img-thumbnail">
                                    <figcaption class="tm-color-primary text-center">Photography</figcaption>
                                </figure>
                                <div>
                                    <p>
                                        Photography group is for the Photographers who are passionate about photography. 
                                        There are some amazing photographers who are passionate about photography.
                                        <u style = "color:rgb(255, 157, 0)">Srijit Bhattacharyya</u> 
                                        is the mentor of the group. Whenever any new photographer joins the shohor family, he/she gets
                                        added to the group. If anyone needs any kind of guidance, they can contact him.
                                    </p>

                                    
                                                                                   
                                </div>  
                                                              
                            </div>
                            
                            
                                           
                        </div>
                    </div>
                </div>
                
                <aside class="col-lg-4 tm-aside-col">
                    <div class="tm-post-sidebar">
                        <hr class="mb-3 tm-hr-primary">
                        <h2 class="mb-4 tm-post-title tm-color-primary">Segment Categories</h2>
                        <ul class="tm-mb-75 pl-5 tm-category-list">
                            <li><a href="#" class="tm-color-primary">Manual Art</a></li>
                            <li><a href="#" class="tm-color-primary">Digital Art</a></li>
                            <li><a href="#" class="tm-color-primary">Calligraphy</a></li>
                            <li><a href="#" class="tm-color-primary">Photography</a></li>
  
                        </ul>
                        <hr class="mb-3 tm-hr-primary">
                        <h2 class="tm-mb-40 tm-post-title tm-color-primary">Posts you might like</h2>
                        
                        <p class="tm-color-primary">Theme Song of Shohure Kotha. Sung by Anwesha & Suchandra.</p>
                            <figure>
                                <div class="media-body" alt="Image" class="mb-3 img-fluid">
                                    <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fshohurekotha20%2Fvideos%2F3018876648384732%2F&show_text=false&width=476&t=0" 
                                    width="200px" height="300px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe> 
                                    
                                </div>
                            </figure>
                        </a>
                        <a href="https://www.facebook.com/shohurekotha20/live_videos/" class="d-block tm-mb-40">
                            <figure>
                                <img src="/static/user_profile/img/vocal posts/live.jpg" alt="Image" class="mb-3 img-fluid">
                                <figcaption class="tm-color-primary">Weekly Basis facebook live with FJ SWarnali. If you wanna go on live, contact Swarnali Raha.</figcaption>
                            </figure>
                        </a>
                        <a href="https://www.facebook.com/watch/116128910222424/121425210065702" class="d-block tm-mb-40">
                            <figure>
                                <img src="/static/user_profile/img/vocal posts/dz.jpg" alt="Image" class="mb-3 img-fluid">
                                <figcaption class="tm-color-primary">Dear Zindagi - The combination of love and music.</figcaption>
                            </figure>
                        </a>
                    </div>                    
                </aside>
            </div>
        </div>
            <footer class="row tm-row">
                <div class="col-md-6 col-12 tm-color-gray">
                </div>
                <div class="col-md-6 " style = "text-align: center;">
                    Copyright &copy; Shohure Kotha 2021
                </div>
            </footer>
        </main>
    </div>
    <script src="/static/user_profile/js/jquery.min.js"></script>
    <script src="/static/user_profile/js/templatemo-script.js"></script>
</body>
</html>