{% extends 'base.html' %}

{% block head %}

</STYLE>
<title>SHOHURE KOTHA ADMIN'S DASHBOARD</title> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="style icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAJcYA…AAQIECBAgQIAAAQJbgQIVLS8eXic6oAAAAABJRU5ErkJggg=="/>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center; color: #fff; font-size: 30px; font-weight: bold">SHOHURE KOTHA ADMIN'S DASHBOARD</h1>

    <div class="buttons">
        <div>

            <button onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLScUKTqgxwAevzZX-rhl_k_nWsLQ_CZpIX_Z57emiunDOM9SUw/viewform?usp=sf_link')" style="text-align: center; background-color: #099aee;
                border-radius: 30px;;
                color: rgb(0, 0, 0);
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;">
                sk new member's registration  
            </button>

            <button onclick="window.open('https://drive.google.com/file/d/1kS4bYMgX1rymy-Sy7qAcNZzDSwlC_16f/view?usp=sharing')" style="text-align: center; background-color: #f65f07;
                border-radius: 15px;
                color: rgb(0, 0, 0);
                padding: 7px 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;">
                Shohure kotha info pdf. 
            </button>
        </div>
        <div> 
            <button onclick="window.open('http://www.facebook.com/shohurekotha20')" style="background-color: #002397;
                border-radius: 15px;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;">
                FACEBOOK PAGE 
            </button>

                <div>  
                    <button onclick="window.open('https://www.instagram.com/shohurekotha20')" style="background-color: #570577;
                    border-radius: 15px;
                    color: white;
                    padding: 10px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;">
                    INSTAGRAM PAGE 
                </div>
            </div>
        </button>
        <div> 
            <div> <button onclick="window.open('/mongo')" style="background-color: #005303;
                    border-radius: 12px;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;">
                    UPLOAD DATASET
                </button>
                <button onclick="window.open('/writer')" style="background-color: #005303;
                    border-radius: 12px;
                    color: white;
                    padding: 5px 15px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 2px 2px;
                    cursor: pointer;">
                    UPLOAD WRITER DATASET
                </button>
            </div>

            <div> <button onclick="window.open('/find')" style="background-color: #012c02;
                    border-radius: 12px;;
                    color: white;
                    padding: 5px 15px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;">
                    Find DATA 
                </button>
        
                <button onclick="window.open('/writer')" style="background-color: #2c0112;
                        border-radius: 12px;;
                        color: white;
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        margin: 4px 2px;
                        cursor: pointer;">
                        writers' data put
                    </button>
                    <button onclick="window.open('https://wa.me/message/QLKW3VMPCFBCP1')" style="background-color: #00b454;
                        border-radius: 12px;;
                        color: rgb(2, 0, 0);
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 20px;
                        margin: 4px 2px;
                        cursor: pointer;">
                        whatsapp us
                    </button>

            </div>
    
    
</div>
{% endblock %}

