{% extends 'base.html' %}

{% block head %}

<title>Availbe Columns for search</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Available columns for search</h1>

    </div>
        <table class="table table-striped" cellspacing="0" style="width:100%">
        <thead>
            <tr>
                {% for title in titles %}
                    <th>{{ title }}</th>
                {% endfor %}
            
            </tr>
        </thead>
        <tbody>
    </div>
</div>
{% endblock %}

